@import "../../app.scss";
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

.stockContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  font-weight: bolder;
  font-size: x-large;
}

.stockContainer > * {
  //padding entre les elements
  margin-bottom: 3vh;
}
.stockTitle {
  font-family: $font-title-content;
  color: $red;
}

.inputTitle {
  font-family: $font-title-content;
  font-size: large;
}
