@import "../../App.scss";

.container-login {
  font-family: $font-title;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  background-color: $yellow;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
  border-radius: 8px;

  @include desktop {
    margin: 5% 40% 0 40%;
    padding: 2%;
    .input-connexion {
      width: 90%;
    }
  }

  .title-connexion {
    font-size: x-large;
    margin-bottom: 20%;

    @include desktop {
      font-size: xx-large;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      width: 90%;
    }

    .input-identification {
      margin-bottom: 15%;

      input {
        border: 0;
        width: 102%;
        background-color: $white;
        border-radius: 8px;
        padding: 5%;

        @include desktop {
        }
      }
    }

    .input-password {
      margin-bottom: 20%;

      input {
        border: 0;
        width: 102%;
        background-color: $white;
        border-radius: 8px;
        padding: 5%;
      }
    }
  }
}

button {
  margin-left: 10%;
  padding: 6%;
  width: 40%;
  border: 0;
  border-radius: 8px;
  background-color: $blue;
  color: $white;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

button:hover {
  background-color: $white;
  color: $blue;
}
