@import "../../app.scss";

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: $blue;
  height: 8vh;

  @include desktop {
    background-color: $white;
  }
}

img {
  height: 9vh;
  margin-top: -5%;
}

.navBurger {
  margin-top: 2%;
}
