@import "../../App.scss";
@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
#btn-samsung {
  background: url("../../assets/images/samsung.png") no-repeat;
  background-size: 101%;
}
#btn-huawei {
  background: url("../../assets/images/huaweii.png") no-repeat, #fff;
}
#btn-honor {
  background: url("../../assets/images/honor.png") no-repeat;
}
#btn-xiaomi {
  background: url("../../assets/images/xiaomi.png") no-repeat;
}
#btn-oneplus {
  background: url("../../assets/images/oneplus.png") no-repeat;
}
#btn-motorola {
  background: url("../../assets/images/motorola.png") no-repeat;
}
#btn-state-green {
  background: url("../../assets/images/backbroungVert.png") no-repeat;
  background-size: cover;
  background-size: 101%;
}
#btn-state-yellow {
  background: url("../../assets/images/backgroundYellow.png") no-repeat;
  background-size: cover;
  background-size: 101%;
}
#btn-state-orange {
  background: url("../../assets/images/backgroundOrange.png") no-repeat;
  background-size: cover;
  background-size: 101%;
}
#btn-state-pink {
  background: url("../../assets/images/backgroundPink.png") no-repeat;
  background-size: cover;
  background-size: 101%;
}
#btn-state-red {
  background: url("../../assets/images/backgroundRed.png") no-repeat;
  background-size: cover;
  background-size: 101%;
}
.title-slide {
  font-family: $font-title;
  color: $red;
  text-align: center;
  font-size: 30px;
  padding: 2%;
  margin: 5% 1% 5% 1%;
}
.content-brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#btn-samsung,
#btn-huawei,
#btn-honor,
#btn-xiaomi,
#btn-oneplus,
#btn-motorola {
  display: inline-block;
  padding: 0 0 0 0px;
  height: 100px;
  width: 100px;
  background-size: 50%;
  margin: 7px 7px 34px 7px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  background-size: contain;
}
.buttonNoClick:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
#btn-samsung span,
#btn-huawei span,
#btn-honor span,
#btn-xiaomi span,
#btn-oneplus span,
#btn-motorola span {
  color: $blue;
  font-family: $font-title;
  text-decoration: underline;
  font-size: 16px;
  margin-top: 110%;
  display: block;
  cursor: pointer;
}

.content-model {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-title;
  color: $blue;
  font-size: 20px;
}

.content-model label {
  margin: 3%;
}

#modelChoice {
  font-family: $font-title;
  color: $blue;
  font-size: 20px;
}

.btn-state1 {
  display: inline-block;
  padding: 0 0 0 0px;
  height: 110px;
  width: 170px;
  border: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  margin: 1%;
  border-radius: 10px;
}
.btn-state {
  display: inline-block;
  padding: 0 0 0 0px;
  height: 110px;
  width: 110px;
  border: none;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  margin: 1%;
  border-radius: 10px;
}
.btn-state:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.btn-state1:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.content-state {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-family: $font-title;
  color: $blue;
  font-size: 20px;
}

.btn-state span,
.btn-state1 span {
  color: $blue;
  font-family: $font-title;
  font-size: 20px;
  margin-top: 76px;
  display: block;
  font-weight: 300;
}
#story {
  font-family: $font-title;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  color: $red;
  border: none;
}
.content-ram {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-ram {
  width: 100px;
  height: 50px;
  margin: 2%;
  font-family: $font-title;
  background-color: $red;
  border: none;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
.btn-ram:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.content-stockage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-stock {
  width: 100px;
  height: 50px;
  margin: 2%;
  font-family: $font-title;
  background-color: $yellow;
  border: none;
  border-radius: 10px;
  color: $blue;
  font-size: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
}
.btn-stock:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.button-submit-information {
  width: 150px;
  height: 60px;
  font-family: $font-big-title;
  background-color: $yellow;
  border: none;
  border-radius: 10px;
  color: $blue;
  font-size: 38px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 9% auto 5% auto;
}
.button-submit-information:hover {
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.buttonClick {
  border: solid black 1px;
  box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.75) inset !important;
}
.buttonClick span {
  color: $blue;
  font-family: $font-title;
  text-decoration: underline;
  font-size: 16px;
  margin-top: 110%;
  display: block;
}
