@import "../../App.scss";

.btn-samsung {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/samsung.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-huawei {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/huawei.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-honor {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/honor.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-xiaomi {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/xiaomi.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-oneplus {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/oneplus.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-motorola {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/motorola.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 50%;
}
.btn-state-green {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/backbroungVert.png") no-repeat;
  height: 124px;
  width: 170px;
  background-size: 100%;
}
.btn-state-yellow {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/backgroundYellow.png") no-repeat;
  height: 124px;
  width: 170px;
  background-size: 100%;
}
.btn-state-orange {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/backgroundOrange.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 100%;
}
.btn-state-pink {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/backgroundPink.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 100%;
}
.btn-state-red {
  display: inline-block;
  padding: 0 0 0 0px;
  background: url("../../assets/images/backgroundRed.png") no-repeat;
  height: 125px;
  width: 125px;
  background-size: 100%;
}
